<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/bon.css">
    <link rel="icon" href="../img/icon.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>empire777.vip</title>
</head>
<body>

    <!-- header -->
    <header>
        <div class="header container-max-width">
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>

            <div class="icons">
                <i class="fa-solid fa-bars" id="bar"></i>
            </div>
        
            <nav class="navbar">
                <a class="links" href="../index.html">HOME</a>
                <a class="links" href="../components/gi.html">GIỚI THIỆU EMPIRE777 CASINO ONLINE</a>
                <a class="links" href="../components/tri.html">GIẢI TRÍ<i class="fa-solid fa-angle-down"></i></a>
                <a class="links active" href="bon.html">BONUS<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/yeu.html">YÊU CẦU TÍN DỤNG SLOT RM45<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/tin.html">TIN TỨC</a>
            </nav>
        </div>
    </header>
    <!-- end of header -->

    <section class="section-hero">
        <div class="hero container-max-width">
            <!-- left -->
            <div class="hero-left">
                <div class="hero-text">
                    <h3>Bonus</h3>
                    <div class="texts">
                        <p>
                            EMPIRE777 bonus có thể là một cách tuyệt vời để bạn kiếm được nhiều tiền hơn từ trải nghiệm cờ bạc của mình. Các sòng bạc thường cung cấp các khoản tiền miễn phí để khuyến khích người chơi đăng ký và chơi tại đó. Bạn sẽ cần phải cung cấp thông tin cá nhân của bạn. Để tận dụng cơ hội này, bạn cần có tên, địa chỉ, số điện thoại và địa chỉ email.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Khi bạn đã tạo một tài khoản sòng bạc mới trên trang web EMPIRE777, đội ngũ sẽ liên hệ với bạn qua email hoặc tin nhắn văn bản với hướng dẫn kích hoạt EMPIRE777, đôi khi kèm theo mã bonus sòng bạc trực tuyến.
                        </p>
                    </div>
                </div>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 27-100.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h2>Khuyến Mãi Sinh Nhật | Ưu đãi đặc biệt của EMPIRE777!</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 7, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Hãy quên bánh ngọt và nến, năm nay hãy ăn mừng Khuyến Mãi Sinh Nhật của riêng bạn như một vị vua tại EMPIRE777 Malaysia
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 29-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>TIỀN THƯỞNG NẠP LẠI 10% | Nhận Thêm Thời Gian Chơi</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 1, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Duy trì đà phát triển của hành trình chơi game của bạn với Tiền Thưởng Nạp Lại 10% kiên định của chúng tôi, mở rộng
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 30-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            EMPIRE777 Hoàn Trá Mỗi Ngày Không Giời Hạn | Nhận UNLI Cashback mỗi ngày</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 29, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Tận hưởng sự đảm bảo về phần thưởng liên tục với Hoàn Trá Mỗi Ngày Không Giời Hạn của chúng tôi. Nơi mỗi lần đặt
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 31-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            Khuyến Mãi bất Ngờ Mỗi Tuần | Khám phá những điều bất ngờ tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 24, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Tận hưởng cảm giác hồi hộp khi mỗi tuần mang đến một cơ hội mới để khám phá những phần thưởng thú vị với Khuyến
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 32-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            Phao Cứu Hộ Mỗi Ngày | Mở khóa Rescue Bonus tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>December 25, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Đối mặt với nghịch cảnh, chúng tôi sẵn sàng cung cấp cho bạn một chiếc phao cứu sinh với Phao Cứu Hộ Mỗi ngày của
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 33-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Thưởng 150% Nạp Đầu Tại Nổ Hủ | Giành chiến thắng tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 28, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Gọi cho tất cả những người đam mê khe cắm! Chuẩn bị bắt tay vào một cuộc phiêu lưu lốc xoáy qua các cuộn phim
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 34-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Tiền Thưởng Chào Mừng Khe 500 % | Nhận cái này tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>December 14, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Bắt đầu hành trình ly kỳ của bạn tại EMPIRE777 CASINO tiền thưởng chào mừng khe của chúng tôi với một ưu đãi thú vị
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- rigth -->
            <div class="hero-rigth">
                <div class="content-hero-rigth">
                    <div class="btn-links">
                        <a href="https://www.hay88.one/?inviteCode=7869781">ĐĂNG NHẬP</a>
                        <a href="https://www.hay88.one/?inviteCode=7869781">ĐĂNG KÝ</a>
                    </div>
                    <div class="group">
                        <input placeholder="Search" type="search" class="input">
                    </div>
                    <div class="image-rigth">
                        <div class="image">
                            <a href="https://www.hay88.one/?inviteCode=7869781">
                                <img src="../img/99 (1).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay88.one/?inviteCode=7869781">
                                <img src="../img/99 (2).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay88.one/?inviteCode=7869781">
                                <img src="../img/99 (3).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay88.one/?inviteCode=7869781">
                                <img src="../img/99 (4).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay88.one/?inviteCode=7869781">
                                <img src="../img/hero-r6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="contect">
                        <span>TÌM HIỂU THÊM!</span>
                        <div class="icon-contect">
                            <img src="../img/thailand.webp" alt="">
                            <img src="../img/malaysia.webp" alt="">
                            <img src="../img/japan.webp" alt="">
                            <img src="../img/empire7771-1.webp" alt="">
                            <img src="../img/images_1-1-278x300.webp" alt="">
                            <img src="../img/il_fullxfull.3796914185_t8sc.webp" alt="">
                            
                        </div>
                    </div>
                </div>     
            </div>
        </div>  
    </section>

    <footer>
        <div class="footer container-max-width">
            <div class="content-footer">
                <h1>CASINO TRỰC TUYẾN</h1>
                <p>
                    CASINO TRỰC TUYẾN
                    Empire777 Live Casino - nhà cái có quy mô rộng lớn, cung cấp tính năng chơi - nhìn trực tuyến cùng với người chia bài và sòng bài, các cô gái đẹp của châu Á, Sòng Baccarat, Sic Bo trực tuyến, Rồng Hổ trực tuyến, Roulette trực tuyến, Casino Hold'em.
                </p>
            </div>
        </div>
        <p class="copy container-max-width">Copyright <i class="fa-solid fa-copyright"></i> 2024</p>
    </footer>

    <!-- script -->
    <script src="../js/app.js"></script>
    
</body>
</html>