<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/tin.css">
    <link rel="icon" href="../img/icon.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>EMPIRE777 INFO | VỀ CHÚNG TÔI</title>
</head>
<body>

    <!-- header -->
    <header>
        <div class="header container-max-width">
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>

            <div class="icons">
                <i class="fa-solid fa-bars" id="bar"></i>
            </div>
        
            <nav class="navbar">
                <a class="links" href="../index.html">HOME</a>
                <a class="links" href="../components/gi.html">GIỚI THIỆU EMPIRE777 CASINO ONLINE</a>
                <a class="links" href="../components/tri.html">GIẢI TRÍ<i class="fa-solid fa-angle-down"></i></a>
                <a class="links " href="../components/bon.html">BONUS<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/yeu.html">YÊU CẦU TÍN DỤNG SLOT RM45<i class="fa-solid fa-angle-down"></i></a>
                <a class="links active" href="tin.html">TIN TỨC</a>
            </nav>
        </div>
    </header>
    <!-- end of header -->

    <section class="section-hero">
        <div class="hero container-max-width">
            <!-- left -->
            <div class="hero-left">
                <div class="hero-text">
                    <h3>Tin tức</h3>
                    <div class="texts">
                        <p>
                            Mỗi tuần lại có một tin tuc va sukien mới gây sốc và đáng sợ không kém, khiến mọi người tự hỏi liệu ở đâu thì mới an toàn được.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Tìm hiểu và nắm bắt tốt thông tin về các sự kiện hiện tại là một lợi thế, cũng như đủ linh hoạt và thân thiện để trò chuyện với mọi kiểu người bất kể tuổi tác, công việc hay sở thích.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Bạn có thể tìm hiểu về các tin tức và sựkiện mới cũng như chia sẻ nội dung hấp dẫn mà hầu hết bạn bè của bạn chưa xem.
                        </p>
                    </div>
                </div>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/img.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>EMPIRE777 Nâng cấp trang web để có trải nghiệm nâng cao</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 3, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>EMPIRE777 đang trải qua quá trình nâng cấp trang web để nâng cao hiệu suất, cải thiện bảo mật và giới thiệu các tính năng
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 43-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Người Việt Nam có quyền truy cập vào sòng bạc trực tuyến không? Và khám phá lối vào EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>September 8, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler </span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Lối vào EMPIRE777 | Mặc dù thị trường iGaming tại Việt Nam tăng gấp mười lần, luật Hồi giáo vẫn cấm loại hình giải trí
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 44-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Câu hỏi cần trả lời: Cờ bạc có thể được coi là một sở thích không?</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 29, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Khi họ nhận thấy rằng một hoạt động như vậy được coi là giải trí, hầu hết mọi người thường đặt câu hỏi. Mặc dù
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 45-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            Cờ bạc trực tuyến có chấp nhận số 9 được cho là may mắn không?</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 24, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Số 9 may mắn là thứ mà các game thủ liên tục tìm kiếm trong thế giới hấp dẫn của sòng bạc trực tuyến. Tại
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 46-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            Là sòng bạc bạn ghé thăm giúp bạn hay phá hủy bạn?</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>December 25, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Tại một số thời điểm trong suốt sự nghiệp cờ bạc của bạn, bạn thường xuyên đến một sòng bạc cụ thể. Lời giải thích
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/tin6.webp " alt="">
                    </div>
                    <div class="desc">
                        <h2>Những Legendary gamblers mọi thời đại: Kiểm tra các bậc thầy về rủi ro và kỹ năng</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 28, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Cờ bạc, một trò tiêu khiển lâu đời đã làm say đắm các cá nhân trên khắp các nền văn hóa và thời gian, đã
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/tin7.webp " alt="">
                    </div>
                    <div class="desc">
                        <h2>Khả năng Augmented Reality trong sòng bạc trực tuyến</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>December 14, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Kể từ khi phát minh ra thực tế tăng cường (AR) vào những năm 1960, gần đây nó đã thâm nhập vào nền tảng cờ
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- rigth -->
            <div class="hero-rigth">
                <div class="content-hero-rigth">
                    <div class="btn-links">
                        <a href="https://www.hay8822.com/?inviteCode=0511229">ĐĂNG NHẬP</a>
                        <a href="https://www.hay8822.com/?inviteCode=0511229">ĐĂNG KÝ</a>
                    </div>
                    <div class="group">
                        <input placeholder="Search" type="search" class="input">
                    </div>
                    <div class="image-rigth">
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (1).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (2).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (3).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (4).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/hero-r6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="contect">
                        <span>TÌM HIỂU THÊM!</span>
                        <div class="icon-contect">
                            <img src="../img/thailand.webp" alt="">
                            <img src="../img/malaysia.webp" alt="">
                            <img src="../img/japan.webp" alt="">
                            <img src="../img/empire7771-1.webp" alt="">
                            <img src="../img/images_1-1-278x300.webp" alt="">
                            <img src="../img/il_fullxfull.3796914185_t8sc.webp" alt="">
                            
                        </div>
                    </div>
                </div>     
            </div>
        </div>  
    </section>

    <footer>
        <div class="footer container-max-width">
            <div class="content-footer">
                <h1>CASINO TRỰC TUYẾN</h1>
                <p>
                    CASINO TRỰC TUYẾN
                    Empire777 Live Casino - nhà cái có quy mô rộng lớn, cung cấp tính năng chơi - nhìn trực tuyến cùng với người chia bài và sòng bài, các cô gái đẹp của châu Á, Sòng Baccarat, Sic Bo trực tuyến, Rồng Hổ trực tuyến, Roulette trực tuyến, Casino Hold'em.
                </p>
            </div>
        </div>
        <p class="copy container-max-width">Copyright <i class="fa-solid fa-copyright"></i> 2024</p>
    </footer>

    <!-- script -->
    <script src="../js/app.js"></script>
    
</body>
</html>