<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Empire777 Casino nắm giữ vị trí quan trọng trong thị trường khi đưa trải nghiệm của người chơi Casino lên một tầm cao mới! Chúng tôi có những Dealer chia bài xinh đẹp như: Blackjack, Live Roulette, Live Baccarat và Live Sicbo mang đến cảm giác sống động giống như bạn đang chơi tại một Sòng Casino thật tại Las Vegas, Thành phố Atlantic và Macau.">
    <meta name="keywords" content="Empire777 sân chơi cá cược hàng đầu tại Việt Nam : Tài xỉu,Xóc đĩa,Nổ hũ,Thể thao,Bắn cá,Xổ số,Đá gà">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/tri.css">
    <link rel="icon" href="../img/icon.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>EMPIRE777 INFO | VỀ CHÚNG TÔI</title>
</head>
<body>

    <!-- header -->
    <header>
        <div class="header container-max-width">
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>

            <div class="icons">
                <i class="fa-solid fa-bars" id="bar"></i>
            </div>
        
            <nav class="navbar">
                <a class="links " href="../index.html">HOME</a>
                <a class="links" href="../components/gi.html">GIỚI THIỆU EMPIRE777 CASINO ONLINE</a>
                <a class="links active" href="tri.html">GIẢI TRÍ<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/bon.html">BONUS<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/yeu.html">YÊU CẦU TÍN DỤNG SLOT RM45<i class="fa-solid fa-angle-down"></i></a>
                <a class="links" href="../components/tin.html">TIN TỨC</a>
            </nav>
        </div>
    </header>
    <!-- end of header -->

    <section class="section-hero">
        <div class="hero container-max-width">
            <!-- left -->
            <div class="hero-left">
                <div class="hero-text">
                    <h3>Giải Trí</h3>
                    <div class="texts">
                        <p>
                            <b>EMPIRE777 Giải Trí</b> cung cấp trò chơi Big Win Slot cập nhật nhất cùng các sự kiện, giải đấu và giải thưởng khổng lồ từ EMPIRE777.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            <b>EMPIRE777 Giải Trí</b> cung cấp nhiều “Trang web Trò chơi Trực tuyến” thú vị với tất cả các tin tức và sự kiện sòng bạc thú vị và hấp dẫn dành cho mọi người chơi tại Châu Á.
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            Bạn có thể tìm thấy các Trò Slot Trực tuyến phổ biến nhất với nhiều danh mục khác nhau, chẳng hạn như Jackpot Lũy tiến, Slot Điện tử, Thẻ Cào, slot giới hạn cao, v.v. Hãy follow chúng tôi để nhận
                        </p>
                    </div>
                    <div class="texts">
                        <p>
                            EMPIRE777 cũng tổ chức sự kiện và các giải đấu đặc biệt đều đặn, đặc biệt là vào các dịp và lễ hội của đất nước châu Á. Bên cạnh đó, EMPIRE777 cũng trao Giải thưởng Thắng Lớn trong hầu hết các sự kiện và giải đấu của chúng tôi.
                        </p>
                    </div>
                    <h4>Đăng ký Ngay!</h4>
                </div>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 47-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Người chơi trúng giải độc đắc Sugar Rush tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 16, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Giải độc đắc Sugar Rush tại EMPIRE777 đang rất sôi động. Quản lý kinh nghiệm lâu năm, một chuyên gia trong ngành công nghiệp trò
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 48-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Xổ Số - Khám phá Kết quả Xổ số Mới nhất tại EMPIRE777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 26, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Xổ sốlà một trò chơi đơn giản nhưng hấp dẫn, đã chiếm được trái tim của nhiều người trên khắp thế giới, đặc biệt là
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 49-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            Điều gì EMPIRE777 Live Baccarat EM (Paris) Rất phổ biến?</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>April 23, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Baccarat là thứ hạng cao nhất của các trò chơi bài trong sòng bạc. Live Baccarat EM (Paris) thu hút con lăn cao hơn bất
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 50-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>
                            72 FORTUNES SLOT CHƠI TRỰC TUYẾN MIỄN PHÍ</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>January 10, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>Sexy Gambler</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Với vô số biểu tượng đại diện cho may mắn và tài lộc, 72 Fortunes Slot tạo ra một bầu không khí nhập vai cho
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 51-100.jpg " alt="">
                    </div>
                    <div class="desc">
                        <h2>Các tính năng đặc biệt trong Holly Jolly Bonanza là gì?</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>May 28, 2024</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Booming Games đã tạo ra trò chơi xèng trực tuyến Holly Jolly Bonanza. Trò chơi xèng video này với chủ đề Giáng sinh có tỷ
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="content-hero-left">
                    <div class="image">
                        <img src="../img/Artboard 53-100.jpg" alt="">
                    </div>
                    <div class="desc">
                        <h2>Ưu đãi Asgard Mobile tại Empire777</h2>
                        <div class="date">
                            <i class="fa-solid fa-clock"></i>
                            <span>December 14, 2023</span>
                            <i class="fa-solid fa-user"></i>
                            <span>disguisedplace</span>
                            <i class="fa-regular fa-comment"></i>
                            <span>0</span>
                        </div>
                        <div class="text">
                            <p>Kingdom of Asgard Mobile cung cấp cuộn 5×3 và nó có tổng cộng 20 dòng chiến thắng có thể làm cho cuộc sống của bạn
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- rigth -->
            <div class="hero-rigth">
                <div class="content-hero-rigth">
                    <div class="btn-links">
                        <a href="https://www.hay8822.com/?inviteCode=0511229">ĐĂNG NHẬP</a>
                        <a href="https://www.hay8822.com/?inviteCode=0511229">ĐĂNG KÝ</a>
                    </div>
                    <div class="group">
                        <input placeholder="Search" type="search" class="input">
                    </div>
                    <div class="image-rigth">
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (1).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (2).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (3).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/99 (4).jpg" alt="">
                            </a>
                        </div>
                        <div class="image">
                            <a href="https://www.hay8822.com/?inviteCode=0511229">
                                <img src="../img/hero-r6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="contect">
                        <span>TÌM HIỂU THÊM!</span>
                        <div class="icon-contect">
                            <img src="../img/thailand.webp" alt="">
                            <img src="../img/malaysia.webp" alt="">
                            <img src="../img/japan.webp" alt="">
                            <img src="../img/empire7771-1.webp" alt="">
                            <img src="../img/images_1-1-278x300.webp" alt="">
                            <img src="../img/il_fullxfull.3796914185_t8sc.webp" alt="">
                            
                        </div>
                    </div>
                </div>     
            </div>
        </div>  
    </section>

    <footer>
        <div class="footer container-max-width">
            <div class="content-footer">
                <h1>CASINO TRỰC TUYẾN</h1>
                <p>
                    CASINO TRỰC TUYẾN
                    Empire777 Live Casino - nhà cái có quy mô rộng lớn, cung cấp tính năng chơi - nhìn trực tuyến cùng với người chia bài và sòng bài, các cô gái đẹp của châu Á, Sòng Baccarat, Sic Bo trực tuyến, Rồng Hổ trực tuyến, Roulette trực tuyến, Casino Hold'em.
                </p>
            </div>
        </div>
        <p class="copy container-max-width">Copyright <i class="fa-solid fa-copyright"></i> 2024</p>
    </footer>

    <!-- script -->
    <script src="../js/app.js"></script>
    
</body>
</html>